<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--  Database connection settings  -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://10.176.34.84/performance?serverTimezone=Asia/Shanghai&amp;useUnicode=yes&amp;characterEncoding=UTF-8</property>
        <!-- property name="connection.url">jdbc:mysql://localhost/zc?serverTimezone=Asia/Shanghai&amp;useUnicode=yes&amp;characterEncoding=UTF-8</property -->
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <!--  Echo all executed SQL to stdout  -->
        <property name="show_sql">false</property>
        <property name="hibernate.jdbc.batch_size">100</property>
        <property name="connection.pool_size">50</property>
        <!--<property name="hibernate.id.new_generator_mappings">false</property>-->
        <mapping class="model.Repository"/>
    </session-factory>
</hibernate-configuration>